<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Thandokhulu Discipline System</title>
        <meta name="description" content="Thandokulu Discipline System">
        <meta name="author" content="Faizel Slamang">

        <link rel="stylesheet" href="css/styles.css">

    </head>

    <body>
        {% block heading %}
            <h1>Thandokhulu Discipline System</h1>
        {% endblock %}
        {% block content %}


        {% endblock %}
        <script src="js/scripts.js"></script>
    </body>
</html>
